@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';
@import 'site/globals/site.variables';

@import 'blockly-core';

.blocklyFlyoutLabel:not(.blocklyFlyoutHeading) .blocklyFlyoutLabelIcon {
    fill: white;
    font-size: 1.7rem;
}

.blocklyFlyoutLabel .blocklyFlyoutLabelIcon {
    font-family: 'legoIcons', 'Icons' !important;
    font-size: 1.4rem !important;
}

/* Square shaped corners */
.blocklyDropDownDiv {
    border-radius: 0px !important;
}

.blocklyDropDownArrow.arrowTop {
    border-top-left-radius: 0px !important;
}

.blocklyToggleRect {
    rx: 0 !important;
    ry: 0 !important;
}

/* Field editor */
.blocklyMotorsFieldOptions .blocklyDropDownButton, .blocklyMusicFieldOptions .blocklyDropDownButton {
    height: 100%;
}

.blocklyDropDownMotorsContent .blocklyMotorsFieldOptions .blocklyDropdownTextLabel {
    display: inline-block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    padding: 0 10px;
    line-height: 1rem;
    color: #fff;
    font-size: 13px;
}

.blocklyDropDownMusicContent {
    max-height: 450px;
    overflow-y: auto;
}

.blocklyMotorsFieldOptions div[role="row"], .blocklyMusicFieldOptions div[role="row"] {
    display: flex;
}

.blocklyMusicFieldCategories .blocklyDropdownText, .blocklyMusicFieldOptions .blocklyDropdownText {
    // display: flex;
    // justify-content: center;
    line-height: 1rem;
    color: #fff;
    font-size: 13px;
}

.blocklyMusicFieldOptions .blocklyDropdownText {
    display: block;
    margin-bottom: 5%;
    padding: 0px 8px;
    word-break: break-word;
    hyphens: auto;
}

.blocklyMusicFieldCategories {
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    font-size: 13px;
}

.blocklyDropdownTag {
    padding: 2px;
    font-weight: bold;
    margin: 4px;
    border-radius: 0;
    outline: none;
    border: 1px solid;
    transition: box-shadow .1s;
    cursor: pointer;
}

.blocklyMotorsFieldOptions .blocklyDropDownButton > img, .blocklyMusicFieldOptions .blocklyDropDownButton > img {
    position: relative;
    width: 80%;
    height: auto;
    transform: unset;
    top: unset;
}

// Default DropDownContent
.blocklyDropDownContent {
    overflow-y: auto; // Return scroll y
}